@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a192f;
  --foreground: #ccd6f6;
  --font-outfit: 'Outfit', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-outfit);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a192f;
}

::-webkit-scrollbar-thumb {
  background: #233554;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64ffda;
}
